Flask==0.10.1
Flask-Login==0.2.6
Flask-OpenID==1.1.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.0
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.7.9
Tempita==0.5.1
WTForms==1.0.4
Werkzeug==0.9.3
decorator==3.4.0
gunicorn==17.5
httplib2==0.8
itsdangerous==0.23
psycopg2==2.5.1
python-openid==2.2.5
six==1.4.1
sqlalchemy-migrate==0.7.2
twilio==3.6.1
unittest2==0.5.1
wsgiref==0.1.2
